<div>
    <h4 class="text-lg p-3 text-gray-800">Comments: </h4>
    {{#each this}}
    <section>
        <p class="rounded-b-lg p-3 leading-normal">"{{comment}}" - {{user.user_name}}</p>
    </section>
    {{/each}}
</div>