<!DOCTYPE html>
<html lang="en" class="text-gray-900 leading-tight">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/headerStyle.css">
    <link rel="stylesheet" href="/style.css">
    <title>Tech Blog</title>
</head>

<body class="min-h-screen">

    <header class="flex flex-row bg-green-200 text-gray-700 header">
        <h1 class="font-serif text-4xl p-4 tracking-wide flex-shrink" >Tech Blog...</h1>
        <nav class="p-2 flex-grow text-right pt-8" >
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>


    <main class="p-8 grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-4 bg-gray-100 min-h-screen">
        {{{body}}}
    </main>

    <footer>

    </footer>


</body>

</html>