<section>
    <h2 class="px-6 title font-sans text-2xl text-gray-600 py-1" style="font-family: 'Fredoka One', cursive;">Your
        Dashboard</h2>
    <p class="px-6">Create, edit and view your blog posts</p>
    <button class="px-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
    </button>
</section>

<div class="p-8 grid grid-cols-1 md:grid-cols-3 gap-4 bg-gray-100 grid-rows-2 min-h-screen">

    {{#if posts.length}}
    {{#each posts as |post|}}
    {{> post-detail-edit post}}
    {{/each}}

    {{/if}}

</div>

<button class="col-start-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
</button>