{{#each posts as |post|}}

    <article class="bg-gray-50 rounded-lg shadow">
        <header class="bg-green-200 rounded-t-lg">
            <h2 class="font-serif text-lg font-bold p-3">{{post.title}}</h2>
        </header>
        <body class="">
            <p class="rounded-b-lg p-3 leading-normal">{{post.post}}</p>
        </body>
    </article>

{{/each}}