<section>
    <h2>Homepage</h2>
    <p>All blogs</p>
</section>

<div class="p-8 grid grid-cols-1 md:grid-cols-3 gap-4 bg-gray-100 grid-rows-2 min-h-screen">

{{#if posts.length}}
    {{#each posts as |post|}}
        {{> post-detail post}}
    {{/each}}
{{/if}}

</div>