{{#each posts as |post|}}

    <article class="bg-gray-50 rounded-lg shadow">
        <header class="rounded-t-lg title">
            <h2 class="=text-lg p-3 text-gray-800" style="font-family: 'Fredoka One', cursive;">{{post.title}}</h2>
        </header>
        <body class="">
            <p class="rounded-b-lg p-3 leading-normal">{{post.post}}</p>
        </body>
    </article>

{{/each}}