<section>
    <h2 class="px-6 title font-sans text-2xl text-gray-600 py-1" style="font-family: 'Fredoka One', cursive;">Home page</h2>
    <p class="px-6">View all blogs</p>
</section>

<div class="p-8 grid grid-cols-1 md:grid-cols-3 gap-4 bg-gray-100 grid-rows-2 min-h-screen posts">

{{#if posts.length}}
    {{#each posts as |post|}}
        {{> post-detail post}}
    {{/each}}
{{/if}}

</div>