.header {
    background-image: url('./assets/Liquid-Cheese.svg');
    background-size: cover;
    min-height: 10vw;
} 



.grid {
    background-image: url("./assets/Confetti-Doodles.svg");
    background-attachment: fixed;
}

.text-box {
    height: 100px;
}